asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
Django==5.0.4
django-admin-sortable==2.2.4
django-autocomplete-light==3.9.7
django-cleanup==8.1.0
django-crispy-forms==2.1
django-djconfig==0.11.0
django-extensions==3.2.3
django-leaflet==0.29.0
django-polymorphic==3.1.0
django3-dashing==0.5.2
idna==3.8
pillow==10.3.0
psycopg2==2.9.9
python-dotenv==1.0.1
requests==2.32.3
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.2
aiohttp==3.10.5
numpy==2.1.1
setuptools==72.1.0
