{% extends 'base.html' %}
{% block webpageContent %}

<head>
    <link rel="stylesheet" href="../../static/tasks.css" media="all" type="text/css">
    <script>
        function updateTaskID(targTaskID, targTaskName, targTaskDescription, targAssignedMember, targDueDate) {
            //Get Task Details and store them locally.
            //Enables them to be used for form autofill.
            localStorage.setItem("targetTaskID", targTaskID)
            localStorage.setItem("targetTaskName", targTaskName)
            localStorage.setItem("targetTaskDescription", targTaskDescription)
            localStorage.setItem("targetTaskAssignedMember", targAssignedMember)

            //document.getElementById("taskID").value = localStorage.getItem("targetTaskID");
            //document.getElementById("editTaskName").value = localStorage.getItem("targetTaskName");
            //document.getElementById("editTaskDescription").value = localStorage.getItem("targetTaskDescription");
            //document.getElementById("editTaskAssignment").value = localStorage.getItem("targetTaskAssignedMember");

            document.cookie = "targetTaskID=" + targTaskID;

            //convert Month String to a number.
            const monthCollection = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
            ]

            let convertedMonthValue = 0;
            dueDateMonth = targDueDate.split(" ")[0];

            //comma follows date in the input format, splits on the leading space, then the trailing comma.
            //example of date format May 23, 2024.
            dueDateDay = targDueDate.split(" ")[1].split(",")[0];
            dueDateYear = targDueDate.split(" ")[2];
            for (currentMonth = 0; currentMonth <= 12; currentMonth++) {
                if (dueDateMonth == monthCollection[currentMonth]) {
                    //add one to value due to zero based indexing.
                    convertedMonthValue = currentMonth + 1;
                }
            }
            let dateString = dueDateDay + '-' + convertedMonthValue + '-' + dueDateYear;

            localStorage.setItem("targetTaskDueDate", dateObject);
            document.getElementById("editTaskDueDate").value = localStorage.getItem("targetTaskDueDate");

        }
    </script>
</head>

<div class="taskContainer">
    <div class="row">
        <div class="col d-flex justify-content-left">
            <button type="button" class="btn custom-button" data-toggle="modal" data-target="#exampleModal">
                Create New Task
            </button>
        </div>
    </div>
</div>

<table class="table" id="taskTable">
    <thead id="taskTableHead">
        <tr>
            <th class="taskTableHeading">Task Title</th>
            <th class="taskTableHeading">Assigned To</th>
            <th class="taskTableHeading">Task Description</th>
            <th class="taskTableHeading">Status</th>
            <th class="taskTableHeading">Due Date</th>
        </tr>
    </thead>
    <tbody id="taskTableBody">
        {% for Task in TaskData %}
        <tr onclick="updateTaskID('{{Task.taskID}}', '{{Task.name}}', '{{Task.description}}', '{{Task.assignedTo}}', '{{Task.dueDate}}')"
            class="taskTableRow" id="modifyTaskModal">
            <td id="taskTableData">
                <a href="{% url 'update_task' Task.taskID %}">{{Task.name}}</a>
            </td>
            <td id="taskTableData">
                <a href="{% url 'update_task' Task.taskID %}">{{username}}</a>
            </td>
            <td id="taskTableData">
                <a href="{% url 'update_task' Task.taskID %}">{{Task.description}}</a>
            </td>
            <td id="taskTableData">
                <a href="{% url 'update_task' Task.taskID %}">{{Task.status}}</a>
            </td>
            <td id="taskTableData">
                <a href="{% url 'update_task' Task.taskID %}">{{Task.dueDate}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Create New Task Modal -->
<form action="/tasks/tableView" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{creationForm.name.label}}
                        {{creationForm.name}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.description.label}}
                        {{creationForm.description}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.status.label}}
                        {{creationForm.status}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.priority.label}}
                        {{creationForm.priority}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.assignedTo.label}}
                        {{creationForm.assignedTo}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.dueDate.label}}
                        {{creationForm.dueDate}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn custom-button" name="createTaskForm">Create New Task</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Task Edit Window Modal -->
<form action="/tasks/tableView" method="post">
    <div class="modal fade" id="taskModModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3" hidden>
                        {{creationForm.taskID.label}}
                        {{creationForm.taskID}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.name.label}}
                        {{creationForm.name}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.description.label}}
                        {{creationForm.description}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.status.label}}
                        {{creationForm.status}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.priority.label}}
                        {{creationForm.priority}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.assignedTo.label}}
                        {{creationForm.assignedTo}}
                    </div>
                    <div class="mb-3">
                        {{creationForm.dueDate.label}}
                        {{creationForm.dueDate}}
                    </div>
                </div>
                <div class="modal-footer">
                    <form method="POST">
                        <button type="submit" class="btn btn-primary btn-lg" name="deleteTaskForm">Delete Task</button>
                    </form>
                    <button type="submit" class="btn custom-button btn-lg" name="amendTaskForm">Amend Task</button>
                </div>
            </div>
        </div>
    </div>
</form>




{% endblock %}