{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Adding Bootstrap libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #f2f2f0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- The container containing the form -->
    <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 bg-white rounded p-4">
                <div class="row justify-content-center mb-4">
                    <img src="{% static 'Images\OreFox_Logo.jpg' %}" style=" max-width:200px; max-height:200px;">
                </div>

            <!-- The form users register with to create a new user -->
            <form class="registerForm" method="post">
                {% csrf_token %}
            <div class="mb-4">
                {{form.username.label}}
                {{form.username}}
            </div>
            <div class="mb-4">
                {{form.email.label}}
                {{form.email}}
            </div>
            <div class="mb-4">
                {{form.password1.label}}
                {{form.password1}}
            </div>
            <div class="mb-4">
                {{form.password2.label}}
                {{form.password2}}
            </div>
            <input id="submit" type="submit" name="login" class="mb-4 btn btn-success w-100">

            <!-- Displays errors produced while filling in the form -->
            {% if form.errors %}
            <div class="mb-4 alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}

            <!-- Terms and Conditions Disclaimer -->
            <div class="mb-4">
                <p>Upon signing up, you agree to our <a href="#" data-bs-toggle="modal" data-bs-target="#termsAndCond">terms and conditions</a></p>
            </div>

            <!-- Modal which conditionally appears when the user selects terms and conditions -->
            <div class="modal fade" id="termsAndCond" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitle">Terms & Conditions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">           
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Allows the user to navigate to the login screen instead -->
            <div class="mb-0 text-center">
                <label class="sign_up"><a href="{% url 'login' %}"> Login </a></label>
            </div> 
        </div>
    </div>
</body>
</html>