body {
    padding: 0;
    margin: 0;
    background-color:#fff;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    overflow-x: hidden;
}

#container {
    font-size: 20px;
}
ul li {
    background-color: inherit;
}

.gridster .preview-holder {
    opacity: 0.3;
    background-color: #222222;
}
