td a {
  display: block;
  color: black;
  text-decoration: none;
}
  
td a:hover {
  display: block;
  color: black;
  text-decoration: none;
}

.custom-checkbox {
  position: relative;
}

.custom-control-label {
  padding-left: 20px;
}

.unbuttonize {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; 
}

.maintenance-modal {
  max-width: 1140px;
}