/* Modal Styling */

.modal-header {
    padding: 20px;
}

.modal-body {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

.modal-footer {
    margin: auto;
    padding: 10px;
}

/* Table Styling */
td a {
    display: block;
    color: black;
    text-decoration: none;
}

td a:hover {
    display: block;
    color: black;
    text-decoration: none;
}

#taskTableHead {
    background-color: #AEC3B0;
}

.taskTableRow {
    border-bottom: 1px solid #ddd;
}

.taskTableRow:hover {
    --bs-table-bg: #C2D3DA;
}

.taskTableHeading {
    text-align: center;
    color: #01161E;
}

#taskTableData {
    text-align: center;
    color: #01161E;
}

#taskTableData:hover {
    color: #01161E;
    text-decoration: none;
}

.taskTableData {
    text-align: center;
    color: #01161E;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Hovering over an interactable element */
.pointable:hover {
    cursor: pointer;
}